<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Drive Now</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="Cars available">Cars available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="mybookings">My Bookings</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="nav-link text-white " href="help">Help</a>
                <button type="button" class="btn btn-primary btn-sm">Login</button>
            </form>
        </div>
    </div>
</nav>
<div class="container text-center my-3 p-2">
    <h1>Drive Now 🏎</h1>
    <h6 class="container my-3">Welcome to DriveNow – Rent the Ride You Want, When You Want
    Whether it's a spontaneous road trip, a business commute, or just a need for a temporary set of wheels — DriveNow gives you the freedom to rent cars by the hour or day, right at your fingertips. Choose from a wide range of clean, well-maintained vehicles. Fast booking, transparent pricing, and 24/7 customer support make renting a car easier than ever.
        No commitments. Just keys.</h6>
    <img src="/static/images/homecar.jpg" width="500px" height="700px" class="container my-2 p-5"/>


</div>
<footer class="bg-dark text-white py-3 mt-5">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">

        <div class="mb-2 mb-md-0">
            <span><strong>Contact:</strong> support@drivenow.com | +91 98765 43210</span>
        </div>

        <div class="mb-2 mb-md-0">
            <a href="/terms" class="text-white text-decoration-none me-3">Terms & Conditions</a>
            <a href="/about" class="text-white text-decoration-none me-3">About Us</a>
            <a href="/help" class="text-white text-decoration-none">Help</a>
        </div>

        <div>
            <small>© 2025 Drive Now. All rights reserved.</small>
        </div>

    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>